@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&family=Inter:wght@300;400;500;700&family=Readex+Pro:wght@400;700&family=Unbounded:wght@500&display=swap');

$white: #FEF8F1;
$warm: #FBEAC9;
$black: #232923;
$green: #9FC043;

$breakpoint: 800px;

* {
  font-family: "Readex Pro";
  color: $black;
}

body {
  padding: 1rem;
  background-color: $warm;
}

main {
  max-width: 800px;
  margin: 1rem auto;

  @media screen and (min-width: $breakpoint) {
    margin: 3rem auto
  }
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;

  @media screen and (min-width: $breakpoint) {
    margin-bottom: 2rem;
  }
}

h1 {
  position: absolute;
  top: -10000;
  left: -10000;
  opacity: 0;
  font-size: 0;
}

p,
a,
li,
blockquote {
  font-size: 1.2rem;
  line-height: 1.5;

  @media screen and (min-width: $breakpoint) {
    font-size: 1.4rem;
  }
}

cite {
  display: block;
  margin-top: .5rem;
}

a {

  &:hover,
  &:hover * {
    color: lighten($black, 10);
  }

  &:focus,
  &:active {
    background: $black;
    outline: 3px solid $black;
    color: $warm;
  }
}

iframe {
  width: 100%;
  height: 250px;
  margin-top: 1rem;
  border: none;
  border-radius: 2px;

  @media screen and (min-width: $breakpoint) {
    height: 450px;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid $black;
  padding: 1rem 1rem 1rem 1.5rem;
  text-decoration: none;
  font-family: "unbounded";
  text-transform: uppercase;
  border-radius: 2px;

  * {
    margin: 0;
  }

  svg {
    rect {
      fill: $black;
    }

    path {
      stroke: $black;
    }
  }

  &:hover {
    border-color: lighten($black, 10);

    svg {
      path {
        stroke: lighten($black, 10);
      }

      rect {
        fill: lighten($black, 10);
      }
    }
  }

  &:focus,
  &:active {
    border-color: $black;
    color: $warm;
    outline: none;

    svg {
      path {
        stroke: $warm;
      }

      rect {
        fill: $warm;
      }
    }
  }
}

footer {
  // text-align: center;
  padding-top: 1rem;
  max-width: 800px;
  margin: 1rem auto;

  * {
    font-size: 0.9rem;
    color: transparentize($black, 0.25);
  }
}

nav {
  display: grid;
  gap: 1rem;

  @media screen and (min-width: $breakpoint) {
    grid-template-columns: 1fr 1fr;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $black;
    padding: 1rem 1rem 1rem 1.5rem;
    text-decoration: none;
    border-radius: 2px;

    strong {
      font-family: "unbounded";
      text-transform: uppercase;
    }

    span {
      font-size: 1rem;
    }

    &:hover {
      border-color: lighten($black, 10);
    }

    &:active,
    &:focus {
      outline: none;
      border-color: $black;

      * {
        color: $warm;

      }
    }
  }
}

h2 {
  margin-top: 3rem;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}